.mw-200 {
  max-width: 200px;
}
.profile-content {
  margin-top: 100px;
}
.background-field {
  background-image: linear-gradient(to bottom, rgba(3, 3, 3, 0) -30%, rgb(255, 255, 255) 100%), url("../../src/stylesheets//images/soccer-field-bg.jpg");
  /* background-image: linear-gradient(to top, rgba(3, 3, 3, 0) -10%, rgb(255, 255, 255) 100%), url("../../src/stylesheets//images/soccer-field-bg.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
}

.profile-page .profile {
  text-align: center;
}
.text-larger {
  font-size: larger;
}
.profile-page .profile img {
  max-width: 160px;
  width: 100%;
  margin: 0 auto;
  transform: translate3d(0,-50%,0);
}

.img-raised {
  box-shadow: 0 5px 15px -8px rgba(0,0,0,.24), 0 8px 10px -5px rgba(0,0,0,.2);
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.user-name {
  margin-top: 30px;
  margin-bottom: 25px;
  min-height: 32px;
  font-weight: 700;
  font-family: "Roboto Slab","Times New Roman",serif;
}
.profile-page .profile .name{
  margin-top: -80px;
}

.unstyled {
  list-style-type: none;
}

img.rounded {
  border-radius: 6px!important;
}

.tab-content>.active {
  display: block;
}